*:focus {
  outline: none !important;
}
* {
  overscroll-behavior: none;
}
body {
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
html {
  height: 100vh;
  overflow: hidden;
}
